.mobile-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    padding: 28px 20px;
    transition: opacity .3s ease-out 1.6s;
}

.mobile-header::after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    height: 160px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,0));
}

.mobile-header.hidden{
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-out;
}

.mobile-header .header-left,
.mobile-header .header-right{
    align-items: center;
    display: flex;
    width: 300px;
}
.mobile-header .header-right{
    gap: 32px;
    justify-content: flex-end;
}

.mobile-header .header-left .more{
    width: 48px;
    padding: 12px;
    margin-left: -12px;
}
.mobile-header .header-center{
    flex: 1;
}
.mobile-header .header-center a{
    padding: 0;
    margin: 0;
}

.mobile-header .header-center .logo{
    height: 56px;
}
.mobile-header .header-right{
    font-size: 13px;
}

.mobile-header-dialog {
    position: fixed;
    inset: 0;
    z-index: 9;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(15px);
    background-color: rgba(33, 32, 32, 0.5);
    transition: opacity .5s ease-out;
}

.mobile-header-dialog.show{
    opacity: 1;
    pointer-events: all;
}

.mobile-header-dialog > div:not(.mobile-bgimg){
    z-index: 1;
}
.mobile-header-dialog a{
    color: #fff;
    text-decoration: none;
}
.mobile-header-dialog .close{
    position: fixed;
    right: 24px;
    top: 38px;
    padding: 7px 0;
    z-index: 2 !important;
}

.mobile-header-dialog .routers{
    display: flex;
    flex-direction: column;
    gap: 38px;
    margin-top: 150px;
    margin-bottom: 80px;
}
.mobile-header-dialog .router-item{
    position: relative;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    opacity: .7;
}

.mobile-header-dialog .router-item.active{
    opacity: 1;
}

.mobile-header-dialog .quicklinks{
    align-self: center;
    display: flex;
    align-items: center;
    margin-top: 32px;
    gap: 40px;
}

.mobile-header-dialog .quicklinks img{
    height: 24px;
}

.mobile-header-dialog .radio-language{
    gap: 60px;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(-30px);
    }
}

@keyframes slideInFromLeftEn {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(-47px);
    }
}