.contact-page{
    height: 100vh;   
}

.contact-page .container {
    display: flex;
    height: 100vh;
}

.contact-page .container .left-img{
    width: 55%;
    overflow: hidden;
}
.contact-page .container .left-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: scaleInOut 20s ease-in-out infinite;
}

.contact-page .container .right-cont{
    margin-left: 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-page .container .right-cont .caption{
    font-size: 24px;
    margin-bottom: 40px;
}

.contact-page .container .right-cont .extra{
    opacity: .7;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 12px;
}

.contact-page .container .right-cont .extra.postcode{
    margin-bottom: 48px;
}

.contact-page .container .right-cont .extra.email{
    opacity: 1;
}
.contact-page .container .right-cont .extra span,
.contact-page .container .right-cont .extra a{
    opacity: .7;
    color: white;
    transition: opacity .3s ease-out;
}

.contact-page .container .right-cont .extra a:hover{
    opacity: 1;
}

@keyframes scaleInOut {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.1);
    }
}
