.fade-slide {
    width: 100%;
    height: 100%;

}

.fade-slide .fade-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.fade-wrapper .fade-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.fade-wrapper .fade-item.active{
    opacity: 1;
}

.fade-slide .fade-pagination{
    position: absolute;
    bottom: 0;
    width: 100%;
}
