.svgprogress{
    position: relative;
    transform: rotate(270deg);
    box-sizing: border-box;
    display: block;
}

.svgprogress circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 20;
    stroke: rgba(255, 255, 255, .4);
    transform: translate(10px, 10px);
}

.svgprogress circle:nth-child(2) {
    stroke: #fff;
    stroke-dasharray: 440;
    animation: circleloading 6.5s linear;
}

.dotprogress{
    box-sizing: border-box;
    padding: 3px;
}
.dotprogress .dot{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: .4;
}

@keyframes circleloading {
    0% { stroke-dashoffset: 440 }
    50% { stroke-dashoffset: 220 }
    100% { stroke-dashoffset: 0 }
}
