.mobile-language{
    position: relative;
    opacity: 1;
    font-size: 14px;
    line-height: 18px;
    transition: opacity .3s ease-out;
}

.mobile-language.lightmode .trigger,
.mobile-language.lightmode .dropdown .dp-item{
    color: black;
}

.mobile-language .trigger{
    display: flex;
    align-items: center;
    transition: opacity .3s ease-out;
    padding: 12px 0;
}

.mobile-language .trigger img{
    margin-left: 6px;
}

.mobile-language .dropdown{
    position: absolute;
    right: 0;
    top: 28px;
    padding-top: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease-out;
}
.mobile-language .dropdown.show{
    opacity: 1;
    pointer-events: all;
}

.mobile-language .dropdown .dp-item{
    text-align: right;
    line-height: 2;
    opacity: .6;
    padding-right: 18px;
    transition: opacity .3s ease-out;
}
.mobile-language .dropdown .dp-item.active,
.mobile-language .dropdown .dp-item:hover{
    opacity: 1;
}

.mobile-language:hover{
    cursor: pointer;
}


.radio-language{
    align-self: center;
    display: flex;
    align-items: center;
    gap: 42px;
    font-size: 13px;
    padding-bottom: 24px;
    border-bottom: .5px solid rgba(255, 255, 255, .5);
}

.radio-language .radio-item{
    color: white;
    opacity: .5;
}
.radio-language .radio-item.active{
    opacity: 1;
}